$angular-color: #dd0032;
$material-color: #3f51b5;
$news-color: #2673e8;
$github-color: #2A3F4B;
$white-color: #fff;

$two-second-transition: 0.2s all ease-in-out;

.about 
{
    max-width: 25rem;
    margin: 0 auto;
    padding: 25px 25px 10px 25px;
    letter-spacing: 1px;
    border-radius: 8px;
    transition: $two-second-transition;

    span 
    {
        font-weight: 600;
    }

    .mat-card-actions
    {
        margin: 15px;
        display: flex;
        justify-content: space-around;
        font-size: 3rem;

        #angular
        {
            color: $angular-color;
            transition: $two-second-transition;
        }

        #angular:hover
        {
            color: darken($angular-color, 3%);
        }

        #material 
        {
            color: $material-color;
            transition: $two-second-transition;
        }

        #material:hover 
        {
            color: darken($material-color, 5%)
        }

        #news-api
        {
            color: $news-color;          
            transition: $two-second-transition;
        }

        #news-api:hover
        {
            color: darken($news-color, 10%);
        }

        #github
        {
            color: $github-color;
            transition: $two-second-transition;
        }

        #github:hover
        {
            color: darken($github-color, 10%);
        }        
    }
}

.about:hover 
{
    box-shadow: 0px 8px 6px -6px lighten(#333, 10%);
    transition: $two-second-transition;
}

@media screen and (max-width: 768px) {
    .about {
        margin: 15px;
    }

    fa-icon {
        font-size: 2.5rem;
    }
}