<div class="row">
  <div class="article">
    <img src="../../assets/images/businessman-1031755_1920.jpg" alt="sample news image" />  
    <div class="article-info"> 
      <h3 class="article-title">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
      <div class="article-content">
        <p class="article-details">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci aliquam quaerat laboriosam similique quisquam! Necessitatibus totam vel cumque blanditiis vero veritatis officia, possimus qui molestias consequatur, eveniet veniam, a tempora?</p>  
      </div>
      <div class="article-footer">
        <a class="article-link" href="#">lorem ipsum</a>
        </div>
        <p class="published-date">Lorem ipsum dolor sit</p>
    </div>
  </div>
  <div class="article">
    <img src="../../assets/images/businessman-1031755_1920.jpg" alt="sample news image" />  
    <div class="article-info"> 
      <h3 class="article-title">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
      <div class="article-content">
        <p class="article-details">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci aliquam quaerat laboriosam similique quisquam! Necessitatibus totam vel cumque blanditiis vero veritatis officia, possimus qui molestias consequatur, eveniet veniam, a tempora?</p>  
      </div>
      <div class="article-footer">
        <a class="article-link" href="#">lorem ipsum</a>
        </div>
        <p class="published-date">Lorem ipsum dolor sit</p>
    </div>
  </div>
  <div class="article">
    <img src="../../assets/images/businessman-1031755_1920.jpg" alt="sample news image" />  
    <div class="article-info"> 
      <h3 class="article-title">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
      <div class="article-content">
        <p class="article-details">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci aliquam quaerat laboriosam similique quisquam! Necessitatibus totam vel cumque blanditiis vero veritatis officia, possimus qui molestias consequatur, eveniet veniam, a tempora?</p>  
      </div>
      <div class="article-footer">
        <a class="article-link" href="#">lorem ipsum</a>
        </div>
        <p class="published-date">Lorem ipsum dolor sit</p>
    </div>
  </div>
  <div class="article">
    <img src="../../assets/images/businessman-1031755_1920.jpg" alt="sample news image" />  
    <div class="article-info"> 
      <h3 class="article-title">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
      <div class="article-content">
        <p class="article-details">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci aliquam quaerat laboriosam similique quisquam! Necessitatibus totam vel cumque blanditiis vero veritatis officia, possimus qui molestias consequatur, eveniet veniam, a tempora?</p>  
      </div>
      <div class="article-footer">
        <a class="article-link" href="#">lorem ipsum</a>
        </div>
        <p class="published-date">Lorem ipsum dolor sit</p>
    </div>
  </div>
    <div class="article">
    <img src="../../assets/images/businessman-1031755_1920.jpg" alt="sample news image" />  
    <div class="article-info"> 
      <h3 class="article-title">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
      <div class="article-content">
        <p class="article-details">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci aliquam quaerat laboriosam similique quisquam! Necessitatibus totam vel cumque blanditiis vero veritatis officia, possimus qui molestias consequatur, eveniet veniam, a tempora?</p>  
      </div>
      <div class="article-footer">
        <a class="article-link" href="#">lorem ipsum</a>
        </div>
        <p class="published-date">Lorem ipsum dolor sit</p>
    </div>
  </div>
  <div class="article">
    <img src="../../assets/images/businessman-1031755_1920.jpg" alt="sample news image" />  
    <div class="article-info"> 
      <h3 class="article-title">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
      <div class="article-content">
        <p class="article-details">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci aliquam quaerat laboriosam similique quisquam! Necessitatibus totam vel cumque blanditiis vero veritatis officia, possimus qui molestias consequatur, eveniet veniam, a tempora?</p>  
      </div>
      <div class="article-footer">
        <a class="article-link" href="#">lorem ipsum</a>
        </div>
        <p class="published-date">Lorem ipsum dolor sit</p>
    </div>
  </div>
  <div class="article">
    <img src="../../assets/images/businessman-1031755_1920.jpg" alt="sample news image" />  
    <div class="article-info"> 
      <h3 class="article-title">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
      <div class="article-content">
        <p class="article-details">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci aliquam quaerat laboriosam similique quisquam! Necessitatibus totam vel cumque blanditiis vero veritatis officia, possimus qui molestias consequatur, eveniet veniam, a tempora?</p>  
      </div>
      <div class="article-footer">
        <a class="article-link" href="#">lorem ipsum</a>
        </div>
        <p class="published-date">Lorem ipsum dolor sit</p>
    </div>
  </div>
</div>
