<!-- <div class="row">
  <div class="article">
    <img src="../../assets/images/businessman-1031755_1920.jpg" alt="sample news image" />  
    <div class="article-info"> 
      <h3 class="article-title">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
      <div class="article-content">
        <p class="article-details">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci aliquam quaerat laboriosam similique quisquam! Necessitatibus totam vel cumque blanditiis vero veritatis officia, possimus qui molestias consequatur, eveniet veniam, a tempora?</p>  
      </div>
      <div class="article-footer">
        <a class="article-link" href="#">lorem ipsum</a>
        </div>
        <p class="published-date">Lorem ipsum dolor sit</p>
    </div>
  </div>
  <div class="article">
    <img src="../../assets/images/businessman-1031755_1920.jpg" alt="sample news image" />  
    <div class="article-info"> 
      <h3 class="article-title">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
      <div class="article-content">
        <p class="article-details">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci aliquam quaerat laboriosam similique quisquam! Necessitatibus totam vel cumque blanditiis vero veritatis officia, possimus qui molestias consequatur, eveniet veniam, a tempora?</p>  
      </div>
      <div class="article-footer">
        <a class="article-link" href="#">lorem ipsum</a>
        </div>
        <p class="published-date">Lorem ipsum dolor sit</p>
    </div>
  </div>
  <div class="article">
    <img src="../../assets/images/businessman-1031755_1920.jpg" alt="sample news image" />  
    <div class="article-info"> 
      <h3 class="article-title">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
      <div class="article-content">
        <p class="article-details">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci aliquam quaerat laboriosam similique quisquam! Necessitatibus totam vel cumque blanditiis vero veritatis officia, possimus qui molestias consequatur, eveniet veniam, a tempora?</p>  
      </div>
      <div class="article-footer">
        <a class="article-link" href="#">lorem ipsum</a>
        </div>
        <p class="published-date">Lorem ipsum dolor sit</p>
    </div>
  </div>
  <div class="article">
    <img src="../../assets/images/businessman-1031755_1920.jpg" alt="sample news image" />  
    <div class="article-info"> 
      <h3 class="article-title">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
      <div class="article-content">
        <p class="article-details">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci aliquam quaerat laboriosam similique quisquam! Necessitatibus totam vel cumque blanditiis vero veritatis officia, possimus qui molestias consequatur, eveniet veniam, a tempora?</p>  
      </div>
      <div class="article-footer">
        <a class="article-link" href="#">lorem ipsum</a>
        </div>
        <p class="published-date">Lorem ipsum dolor sit</p>
    </div>
  </div>
    <div class="article">
    <img src="../../assets/images/businessman-1031755_1920.jpg" alt="sample news image" />  
    <div class="article-info"> 
      <h3 class="article-title">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
      <div class="article-content">
        <p class="article-details">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci aliquam quaerat laboriosam similique quisquam! Necessitatibus totam vel cumque blanditiis vero veritatis officia, possimus qui molestias consequatur, eveniet veniam, a tempora?</p>  
      </div>
      <div class="article-footer">
        <a class="article-link" href="#">lorem ipsum</a>
        </div>
        <p class="published-date">Lorem ipsum dolor sit</p>
    </div>
  </div>
  <div class="article">
    <img src="../../assets/images/businessman-1031755_1920.jpg" alt="sample news image" />  
    <div class="article-info"> 
      <h3 class="article-title">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
      <div class="article-content">
        <p class="article-details">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci aliquam quaerat laboriosam similique quisquam! Necessitatibus totam vel cumque blanditiis vero veritatis officia, possimus qui molestias consequatur, eveniet veniam, a tempora?</p>  
      </div>
      <div class="article-footer">
        <a class="article-link" href="#">lorem ipsum</a>
        </div>
        <p class="published-date">Lorem ipsum dolor sit</p>
    </div>
  </div>
  <div class="article">
    <img src="../../assets/images/businessman-1031755_1920.jpg" alt="sample news image" />  
    <div class="article-info"> 
      <h3 class="article-title">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
      <div class="article-content">
        <p class="article-details">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci aliquam quaerat laboriosam similique quisquam! Necessitatibus totam vel cumque blanditiis vero veritatis officia, possimus qui molestias consequatur, eveniet veniam, a tempora?</p>  
      </div>
      <div class="article-footer">
        <a class="article-link" href="#">lorem ipsum</a>
        </div>
        <p class="published-date">Lorem ipsum dolor sit</p>
    </div>
  </div>
</div> -->
  <div class="row">
    <mat-card class="article" *ngFor="let article of articles">
      <mat-card-header>
        <mat-card-title>{{article.title}}</mat-card-title>
        <mat-card-subtitle>{{article.author}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="{{article.urlToImage}}" alt="{{article.urlToImage}}">
      <mat-card-content>
        <p>{{article.description}}</p>
      </mat-card-content>
      <mat-card-footer>
        <mat-card-actions>
          <a mat-raised-button class="article-link" href="{{article.url}}">Read More</a>
        </mat-card-actions>
      </mat-card-footer>
    </mat-card>
  </div>
