<div class="app">
  <!-- <header>
    <a class="nav-menu" href="#" onclick="openMenu()">
      <fa-icon [icon]="barIcon"></fa-icon>
    </a>
    <div id="side-nav" class="side-nav">
      <ul class="nav-list">
        <li class="nav-item">
          <a href="#" class="close-btn" onclick="closeMenu()">
            &times;
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/" class="nav-link">
            <fa-icon [icon]="homeIcon"></fa-icon>  
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/business" class="nav-link">
           <fa-icon [icon]="businessIcon"></fa-icon>        
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/entertainment" class="nav-link">
            <fa-icon [icon]="entertainmentIcon"></fa-icon> 
          </a>
        </li>
        <li class="nav-item">`
          <a routerLink="/health" class="nav-link">
            <fa-icon [icon]="healthIcon"></fa-icon> 
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/science" class="nav-link">
            <fa-icon [icon]="scienceIcon"></fa-icon> 
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/sports" class="nav-link">
            <fa-icon [icon]="sportsIcon"></fa-icon>    
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/technology" class="nav-link">
            <fa-icon [icon]="technologyIcon"></fa-icon>   
          </a>
        </li>
      </ul>
    </div>
  </header>

  <main id="main">
      <h1>Responsive Side Navigation Menu</h1>
  </main> -->
<router-outlet></router-outlet>
</div>
